<div class="navbar-item is-hoverable">
 {{#with (resolvePage 'buddies::index.adoc')}}<a class="navbar-link" href="{{relativize url}}">Nodes Buddy System</a>{{/with}}
</div>

<div class="navbar-item is-hoverable">
 {{#with (resolvePage '2025gnt::index.adoc')}}<a class="navbar-link" href="{{relativize url}}">Global Nodes Training</a>{{/with}}
</div>

<div class="navbar-item is-hoverable">
 {{#with (resolvePage '2025gnm::index.adoc')}}<a class="navbar-link" href="{{relativize url}}">Global Nodes Meeting</a>{{/with}}
</div>